@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
}

header {
    width: 100%;
    .navbar {
        background-color: #1d1d1d;
        color: white;
        padding: .8rem;
        font-size: 1.4rem;
        text-align: center;    
    }
}
#input-submit {
    margin-bottom: 24px;
    padding: 10px 20px;
    width: 615px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center; 
}

#form-produtos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.section-prod {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    background-color: white;
    border-radius: 8px;
    padding: .5rem;
    width: 600px;

    h3 {
        margin-bottom: 1rem;
    }
    input {
        border: 1px solid #1d1d1d;
        border-radius: 4px;
        padding: .3rem;
    }
    
    input:focus {
        outline: none;
        background-color: #f0f8ff;
        border: 2px solid #007bff;
    }
    
    textarea {
        border: 1px solid #1d1d1d;
        border-radius: 4px;
        padding: 3rem;   
    }
    
    textarea:focus {
        outline: none;
        background-color: #f0f8ff;
        border: 2px solid #007bff;
    }

}

#novo-produto {
    #nome-descricao {
        #form-nome-descricao {
            display: flex;
            flex-direction: column;
             
            #checkbox {
                input {
                    margin-top: 16px;
                }
            }
        }

    }
}

#precos-section {
    input{
        margin-top: 8px;
    }
}

.upload-container {
    width: 100%;
    height: 250px;
    border: 2px dashed #007bff;
    border-radius: 4px;
    background-color: #f1f7ff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.upload-area {
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: #007bff;
    font-family: 'Montserrat', sans-serif;
}

.upload-area .icon {
    font-size: 50px;
    margin-bottom: 10px;
}

.upload-area p {
    font-size: 18px;
    margin-bottom: 10px;
}

.upload-area .btn {
    font-size: 14px;
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-area .btn:hover {
    background-color: #0056b3;
}

input[type="file"] {
    display: none;
}

@media only screen and (max-width: 600px) {
    .section-prod {
        width: 380px;
    }
    
    #input-submit {
       width: 395px; 
    }
}
